<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

	<resultMap type="Board" id="resultBoard">
		<id column="board_no" property="board_no" />
		<result column="board_ref" property="board_ref" />
		<result column="trash_no" property="trash_no" />
		<result column="board_content" property="board_content" />
		<result column="hashtag" property="hashtag" />
		<result column="board_readcount" property="board_readcount" />
		<result column="board_date" property="board_date" />
	</resultMap>
	<!-- 비교연산자를 쿼리문에 그냥 사용하면 
		태그 앨리먼트 꺽쇠괄호 등(<, >, &)과 혼동하는 문제가 발생할 수 있음.
		이 문제를 미연에 방지하기 위해 xml 코드 중 xml parser 에 의해
		해석하지 말고, 문장 그대로 해석하라는 뜻으로
		<![CDATA[ 쿼리문장 ]]> 사용함
	 -->

	<select id="getListCount" resultType="_int">
		select count(*) from t_board
	</select>	
	
	<select id="selectList" 
	parameterType="Paging" resultMap="resultBoard">
		<![CDATA[
			SELECT * FROM (
    			SELECT ROWNUM RNUM, N.* FROM (
        			SELECT * FROM T_BOARD ORDER BY BOARD_DATE DESC
    			) N
			)
			where rnum >= #{startRow} and rnum <= #{endRow} and BOARD_NO = BOARD_REF
		]]>
	</select>
	
	<insert id="insertOriginBoard" parameterType="Board" >
		insert into board 	
		values (T_BN_S.NEXTVAL, T_BN_S.CURRVAL, #{trash_no}, #{board_content}, #{hashtag}, DEFAULT, DEFAULT);		
	</insert>

	<update id="addReadCount" parameterType="_int">
		update t_board 
		set board_readcount = board_readcount + 1 
		where board_no = #{board_no}
	</update>

	<select id="selectBoard" parameterType="int" resultMap="resultBoard">
		select * from t_board 
		where board_no = #{board_no}
	</select>	
	
	<update id="updateReplySeq1" parameterType="Board" >
			
	</update>
	
	<update id="updateReplySeq2" parameterType="Board" >
	
	</update>
	
	<insert id="insertReply1" parameterType="Board">
		
	</insert>
	
	<insert id="insertReply2" parameterType="Board">
	
	</insert>

	<delete id="deleteBoard" parameterType="Board">
		delete from board 
		where board_num = #{board_num}	
	</delete>
	
	<update id="updateReply" parameterType="Board">
		update board 
		set board_content = #{board_content}
		where board_num = #{board_no}						
	</update>
	
	<update id="updateOrigin" parameterType="Board">
		update board 
		set board_content = #{board_content}		
		where board_num = #{board_no}
	</update>
	
</mapper>
