<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

	<resultMap type="Board" id="resultBoard">
		<id column="board_no" property="board_no" />
		<result column="board_ref" property="board_ref" />
		<result column="trash_no" property="trash_no" />
		<result column="user_no" property="user_no" />
		<result column="board_content" property="board_content" />
		<result column="hashtag" property="hashtag" />
		<result column="board_readcount" property="board_readcount" />
		<result column="board_date" property="board_date" />
		<result column="trash_path" property="trash_path" />
		<result column="user_name" property="user_name" />
	</resultMap>
	<!-- 비교연산자를 쿼리문에 그냥 사용하면 
		태그 앨리먼트 꺽쇠괄호 등(<, >, &)과 혼동하는 문제가 발생할 수 있음.
		이 문제를 미연에 방지하기 위해 xml 코드 중 xml parser 에 의해
		해석하지 말고, 문장 그대로 해석하라는 뜻으로
		<![CDATA[ 쿼리문장 ]]> 사용함
	 -->

	<select id="getListCount" resultType="_int">
		select count(*) from t_board where board_no = board_ref
	</select>	
	
	<select id="selectList" 
	parameterType="Paging" resultMap="resultBoard">
		<![CDATA[
			SELECT *
			FROM ( SELECT ROWNUM RNUM, N.*
			       FROM (SELECT B.BOARD_NO BOARD_NO, 
			                    B.BOARD_REF BOARD_REF,
			                    B.TRASH_NO TRASH_NO,
			                    B.USER_NO USER_NO,
			                    B.BOARD_CONTENT BOARD_CONTENT,
			                    B.HASHTAG HASHTAG,
			                    B.BOARD_READCOUNT BOARD_READCOUNT,
			                    B.BOARD_DATE BOARD_DATE,
			                    T.TRASH_PATH TRASH_PATH,
			                    U.USER_NAME USER_NAME
			             FROM T_BOARD B
			             LEFT JOIN T_TRASH T ON T.TRASH_NO = B.TRASH_NO 
			             LEFT JOIN T_USER U ON U.USER_NO = T.USER_NO
			             WHERE BOARD_NO = BOARD_REF
			             ORDER BY BOARD_NO DESC) N)
			WHERE RNUM >= #{ startRow } AND RNUM <= #{ endRow } 
		]]>
	</select>
	
	
	
<!-- 	
	<insert id="insertOriginBoard" parameterType="Board" >
		insert into board 	
		values (T_BN_S.NEXTVAL, T_BN_S.CURRVAL, #{trash_no},#{user_no}, #{board_content}, #{hashtag}, DEFAULT, DEFAULT);		
	</insert>
 -->
	<update id="addReadCount" parameterType="_int">
		<![CDATA[
		update t_board 
		set board_readcount = board_readcount + 1 
		where board_no = #{board_no}
		]]>
	</update>

	<select id="selectBoard" parameterType="int" resultMap="resultBoard">
		<![CDATA[
		SELECT B.BOARD_NO BOARD_NO, 
		       B.BOARD_REF BOARD_REF,
		       B.TRASH_NO TRASH_NO,
		       B.USER_NO USER_NO,
		       B.BOARD_CONTENT BOARD_CONTENT,
		       B.HASHTAG HASHTAG,
		       B.BOARD_READCOUNT BOARD_READCOUNT,
		       B.BOARD_DATE BOARD_DATE,
		       T.TRASH_PATH TRASH_PATH,
		       U.USER_NAME USER_NAME
		FROM T_BOARD B
		LEFT JOIN T_TRASH T ON T.TRASH_NO = B.TRASH_NO 
		LEFT JOIN T_USER U ON U.USER_NO = T.USER_NO
		WHERE BOARD_NO = #{ board_no }
		]]>
	</select>	
	
	
<!-- 
	<delete id="deleteBoard" parameterType="Board">
		delete from board 
		where board_no = #{board_no}	
	</delete>
	
	
	<update id="updateOrigin" parameterType="Board">
		update board 
		set board_content = #{board_content}		
		where board_no = #{board_no}
	</update>
 -->	
	<!-- 댓글관련 -->
	<select id="selectReplyList" parameterType="int" resultMap="resultBoard">
		<![CDATA[
			SELECT B.BOARD_NO BOARD_NO, 
			        B.BOARD_REF BOARD_REF,
			        B.TRASH_NO TRASH_NO,
			        B.USER_NO USER_NO,
			        B.BOARD_CONTENT BOARD_CONTENT,
			        B.HASHTAG HASHTAG,
			        B.BOARD_READCOUNT BOARD_READCOUNT,
			        B.BOARD_DATE BOARD_DATE,
			        T.TRASH_PATH TRASH_PATH,
			        U.USER_NAME USER_NAME
			 FROM T_BOARD B
			 LEFT JOIN T_TRASH T ON T.TRASH_NO = B.TRASH_NO
			 LEFT JOIN T_USER U ON U.USER_NO = B.USER_NO
			 WHERE BOARD_NO <> BOARD_REF AND BOARD_REF = #{board_no}
			 ORDER BY BOARD_NO ASC
		]]>
	</select>
	
	<select id="getReplyCount" parameterType="int" resultType="_int">
		<![CDATA[
		SELECT COUNT(*) FROM T_BOARD WHERE BOARD_NO <> BOARD_REF AND BOARD_REF = #{board_no}
		]]>
	</select>
	
	
	
	<insert id="insertReply1" parameterType="Board">
	<![CDATA[
			INSERT INTO T_BOARD VALUES(T_BN_S.NEXTVAL, #{board_ref}, 1, #{user_no}, #{board_content}, NULL, DEFAULT, DEFAULT)
	]]>
	</insert>
	
</mapper>
