<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
	
	<resultMap id="userResultList" type="User"> <!-- 컬럼명, 멤버명 같으면 작성 안해도되지만 혹시몰라서 작성함 -->
		<result property="user_no" column="user_no" />
		<result property="user_email" column="user_email" />
		<result property="user_name" column="user_name" />
		<result property="user_admin" column="user_admin" />
		<result property="user_date" column="user_date" />
		<result property="login_ok" column="login_ok" />
	</resultMap>
	
	<resultMap id="trashResultList" type="Trash">
		<id property="trash_no" column="trash_no"/>
		<result property="user_no" column="user_no"/>
		<result property="category_no" column="category_no"/>
		<result property="trash_path" column="trash_path"/>
		<result property="trash_date" column="trash_date"/>
		<result property="report" column="report"/>
	</resultMap>
	
	<resultMap type="Board" id="resultBoard">
		<id column="board_no" property="board_no" />
		<result column="board_ref" property="board_ref" />
		<result column="trash_no" property="trash_no" />
		<result column="user_no" property="user_no" />
		<result column="board_content" property="board_content" />
		<result column="hashtag" property="hashtag" />
		<result column="board_readcount" property="board_readcount" />
		<result column="board_date" property="board_date" />
		<result column="trash_path" property="trash_path" />
		<result column="user_name" property="user_name" />
	</resultMap>
	
	<!-- 신고된 쓰레기 전체 카운트 -->
	<select id="getReportListCount" resultType="_int">
		select count(*) from t_trash where report = 'Y'
	</select>
	
	<!-- 저장된 유저 전체 카운트 -->
	<select id="selectUserListCount" resultType="_int">
		select count(*) from t_user
	</select>
	
	<!-- 내가쓴 갤러리 전체 카운트 -->
	<select id="getMygalListCount" parameterType="_int" resultType="_int">
		select count(*) from t_board where user_no = ${ user_no }
	</select>

	<!-- 신고된 쓰레기 페이징처리 전체 조회 -->
	<select id="selectReportList" 
	parameterType="Paging" resultMap="trashResultList">
		<![CDATA[
			SELECT *
			FROM ( SELECT ROWNUM RNUM, N.*
			       FROM (select *
					from t_trash
					where report = 'Y') N)
			WHERE RNUM >= #{ startRow } AND RNUM <= #{ endRow }
		]]>
	</select>
	
	<!-- 내가쓴 갤러리 페이징처리 전체 조회 -->
	<select id="selectMygalList" parameterType="HashMap" resultMap="resultBoard">
		<![CDATA[
			SELECT *
			FROM ( SELECT ROWNUM RNUM, N.*
			       FROM (select *
					from t_board
					where user_no = #{ user_no }) N)
			WHERE RNUM >= #{ startRow } AND RNUM <= #{ endRow }
		]]>
	</select>
	
	<!-- 이메일로 유저 중복체크 -->
	<select id="dupCheck" parameterType="String" resultType="User">
		select *
		from t_user
		where user_email = #{ user_email }
	</select>
	
	<insert id="insertUser" parameterType="User">
		insert into t_user values(T_UN_S.nextval, #{ user_email }, #{ user_name }, default, default, 'N')
	</insert>
	
	<select id="selectUser" parameterType="String" resultType="User">
		select * from t_user
		where user_email = #{ user_email }
	</select>
	
	<select id="updateNick" parameterType="User">
		update t_user
		set user_name = #{ user_name }
		where user_no = #{ user_no }
	</select>
	
	<update id="deleteUser" parameterType="String">
		update t_user
		set user_email = '탈퇴한이메일',
			user_name = '탈퇴한아이디',
			user_admin = 'N',
			user_date = DEFAULT,
			login_ok = 'N'
		where user_email = #{ user_email }
	</update>
	
	<update id="updateLoginOK" parameterType="User">
		update t_user
		set	login_ok = #{ login_ok }
		where user_email = #{ user_email }
	</update>
	
	<select id="selectMytrash" resultMap="trashResultList" parameterType="_int">
		<![CDATA[
		select *
		from t_trash
		where user_no = #{ user_no }
		order by trash_date desc
		]]>
	</select>
	
	<update id="updateAdmin" parameterType="User">
		update t_user
		set user_admin = #{ user_admin }
		where user_no = #{ user_no }
	</update>
	
	<select id="selectTodayTrash" resultMap="trashResultList">
		select *
		from t_trash
		where to_char(trash_date, 'YYMMDD') = to_char(sysdate, 'YYMMDD')
	</select>
	
	<select id="selectReportTrash" resultMap="trashResultList">
		select *
		from t_trash
		where report = 'Y'
	</select>
	
	<select id="selectTodayReportTrash" resultMap="trashResultList">
		select *
		from t_trash
		where report = 'Y' and to_char(trash_date, 'YYMMDD') = to_char(sysdate, 'YYMMDD')
	</select>
	
	<select id="selectUserList" parameterType="Paging" resultMap="userResultList">
		<![CDATA[
			SELECT *
			FROM ( SELECT ROWNUM RNUM, N.*
              FROM (select *
					       from t_user) N)
			WHERE RNUM >= #{ startRow } AND RNUM <= #{ endRow }
			order by user_no
		]]>
	</select>
</mapper>
